html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	font-family: sans-serif;
	place-items: center;
}

h1 {
	margin: 0;
}

.outerContainer {
	height: 100%;
	display: flex;
	justify-content: center;
	grid-template-columns: auto 1fr auto;
}

.container {
	width: 1000px;
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		"app-bar"
		"content"
		"footer";
}

.container > div {
	padding: 1em;
}

.content {
	grid-area: content;
	background: #EFCCA5;
}