span{
    text-decoration:none;
    color:inherit;
  }
  .one-active > .arrow-one{
    /**/
  }
  .one-active > .arrow-two, .arrow-three{
    background-color: inherit;
    filter: grayscale(100%);
    color: black;
  }
  .two-active > .arrow-one,.arrow-two{
    /**/
  }
  .two-active > .arrow-three{
    background-color: inherit;
    filter: grayscale(100%);
    color: black;
  }
  
  .three-active > span{
    filter: grayscale(0%);
  }
  
  .parent:hover span{
    filter: grayscale(0%);

  }
  .parent span:hover ~ span {
    background-color: inherit;
    filter: grayscale(100%);
    color: black;
  }