span{
    text-decoration:none;
    color:inherit;
  }
  .one-active > .arrow-one{
    background-color: green;
    color: red;
  }
  .one-active > .arrow-two, .arrow-three{
    background-color: inherit;
    color: black;
  }
  .two-active > .arrow-one,.arrow-two{
    background-color: green;
    color: red;
  }
  .two-active > .arrow-three{
    background-color: inherit;
    color: black;
  }
  
  .three-active > span{
    background-color: green;
    color: red;
  }
  
  .parent:hover span{
    background-color: orange;
  }
  .parent span:hover ~ span {
    background-color: inherit;
    color: black;
  }