.search {
	width: 300px;
	box-sizing: border-box;
	margin-left:  auto;
	margin-right: auto;
}

.search_input{
	line-height: 1em;
	font-size: 1em;
 }

 button:enabled:hover {
	filter: brightness(85%);
  }

.disabledAddBtn{
	line-height: 1.2em;
	font-size: 1em;
	background-color: #70A72C;
	color:white;
	cursor: not-allowed;
 }

 
 .EnabledAddBtn {
	line-height: 1.2em;
	font-size: 1em;
	background-color: #70A72C;
	color:white;
	cursor: pointer;
  	opacity: 1;
 }