.searchBar {
	width: 300px;
	box-sizing: border-box;
	margin-left:  auto;
	margin-right: auto;
}

.searchInput{
	line-height: 1em;
	font-size: 1em;
	border-style: solid;
	border-color: #70A72C;
 }

 button:enabled:hover {
	filter: brightness(85%);
  }

.disabledAddBtn{
	line-height: 1.1em;
	font-size: 1em;
	background-color: #70A72C;
	border-style: solid;
	border-color: #70A72C;
	color:white;
	cursor: not-allowed;
 }
 
 .enabledAddBtn {
	line-height: 1.1em;
	font-size: 1em;
	background-color: #70A72C;
	border-style: solid;
	border-color: #70A72C;
	color:white;
	cursor: pointer;
  	opacity: 1;
 }