
.todoList {
	padding-top: 2em;
	display:grid;
	grid-template-columns: repeat(4, auto) ;
	column-gap: 10px;
	row-gap: 10px;
	margin: auto;
	width:80%;
}

.deleteButton {
	justify-self: flex-end;
	background: #DD7703;
	border: none;
	color:  black;
	font-size: 1em;
	font-weight: bold;
	border-radius: 20%;
	padding: 1px;
	text-align: center;
	margin-left: auto;
}

.error{
	padding-top: 2em;
	display: flex;
	justify-content: center;
}

.taskDone{
	text-decoration: line-through;
	opacity:0.6;
}

.taskToBeDone{
	text-decoration: none;
	opacity:1;
}