.todoItem {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding:  0.1em;
}

.checkbox {
	align-self: start;	
}

.todoText {
	margin: 0px 4px;
}

.deleteButton {
	justify-self: flex-end;
	background: #DD7703;
	border: none;
	color:  black;
	font-size: 1em;
	font-weight: bold;
	border-radius: 20%;
	padding: 1px;
	text-align: center;
	margin-left: auto;
}