
.todoList {
	padding-top: 2em;
	display:grid;
	grid-template-columns: repeat(4, auto) ;
	column-gap: 10px;
	row-gap: 10px;
}

.grid {
	display:grid;
	grid-template-columns: repeat(4, auto) ;
	column-gap: 10px;
	row-gap: 10px;
}
