html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	font-family: sans-serif;
	place-items: center;
}

h1 {
	margin: 0;
}

.outerContainer {
	height: 100%;
	display: flex;
	justify-content: center;
	grid-template-columns: auto 1fr auto;
}

.container {
	width: 1000px;
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		"app-bar"
		"content"
		"footer";
}

.container > div {
	padding: 1em;
}

.app-bar {
	grid-area: app-bar;
	background: #70A72C;
	text-align: left;
	line-height: 3em;
	padding-bottom: 3em;
}

.content {
	grid-area: content;
	background: #EFCCA5;
}

.search {
	width: 300px;
	box-sizing: border-box;
	margin-left:  auto;
	margin-right: auto;
}

.todoList {
	padding-top: 2em;
}

.todoItem {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding:  0.1em;
}

.deleteButton {
	justify-self: flex-end;
	background: #DD7703;
	border: none;
	color:  black;
	font-size: 1em;
	font-weight: bold;
	border-radius: 20%;
	padding: 1px;
	text-align: center;
	margin-left: auto;
}

.footer {
	/* myself as an item */
	grid-area: footer;
	height: 1.5em;
	line-height: 100%;
	background: #DD7703;

	/* myself as a container */
	display: flex;
	align-items: center;
	justify-content: center;
}